.bg{
    background-image: url("hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;    
}
.col1{
    background-color: #040b14;
    color:blanchedalmond
}
.list li a{
    list-style-type: none;    
    text-decoration: none;
    
}
.list li {
    list-style-type: none;    
    
    
}